<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4" style="text-align: center;">Products</h4>
				<div class="row">
					<div class="col-lg-12 grid-margin">
						<form>
						  <!-- <div class="d-flex justify-content-between"> -->
							  <div class="form-group form-inline">
								 Search: <input class="form-control ml-2" name="searchTerm" type="text" [(ngModel)]="service.searchTerm"/>
								 <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
								 <!-- <button type="button" routerLink="../insert" id="insert1" class="ml-auto btn btn-gradient-success btn-sm">insert</button> -->
								
								 <div class="ml-auto btn-group" role="group">
									<button type="button" id="deleteproduct" [ngStyle]="{'visibility': selectedDel.length == 0 ? 'hidden' : 'visible'}" class="mr-2 btn btn-gradient-danger btn-sm" (click)="showConfirm()">Delete</button>
									<button type="button" routerLink="../insert" id="insertproduct" class="btn btn-gradient-success btn-sm">Insert</button>	
								 </div>
							  </div>

							  <!-- <div></div> -->
						  <!-- </div> -->
						</form>
						<div class="table-responsive">
							<table class="table table-striped" style="text-align: center;">
							  <thead>
							  <tr>
							    <th scope="col">No</th>
							    <th scope="col">Name</th>
							    <th scope="col">Code</th>
                                <th scope="col">Description</th>
                                <th scope="col">Action</th>
                              </tr>
							  </thead>
							  <tbody>
							  <tr *ngFor="let product of products$ | async; index as i">
							    <th scope="row">
									<p-checkbox name="checkbox" [value]="product" [(ngModel)]="selectedDel" ></p-checkbox>
									{{ (i + 1) + ((service.page -1) * service.pageSize) }}
								</th>
							    <td>
    								<ngb-highlight [result]="product.name" [term]="service.searchTerm"></ngb-highlight>
    							</td>
    							<td>
    								<ngb-highlight [result]="product.code" [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td>
    								<ngb-highlight [result]="product.descriptions" [term]="service.searchTerm"></ngb-highlight>
    							</td>
    							<td>
									<div class="btn-group" role="group" style="align-content: center;">
										<button type="button" routerLink="../update" [queryParams]="product" class="btn btn-outline-primary btn-sm">Update</button>
										<!-- <button type="button" (click)="deleteProduct(product)" class="btn btn-outline-danger btn-sm">Delete</button> -->
									  </div>
    							</td>
							  </tr>
							  </tbody>
							</table>
						</div>

						<div id="pagination" class="d-flex flex-wrap justify-content-between p-2">
						    <ngb-pagination
						      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
						    </ngb-pagination>

						    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
						      <option [ngValue]="5">5 items per page</option>
						      <option [ngValue]="10">10 items per page</option>
						      <option [ngValue]="15">15 items per page</option>
						    </select>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p-toast position="top-center" key="sc" (onClose)="onReject()" [baseZIndex]="7000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column mr-auto" style="flex: 1">
            <div class="p-text-center" style="text-align: center;">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="col-12">
            	<div class="row">
            		<div class="ml-auto">
            			<button type="button" pButton class="btn btn-danger" (click)="onConfirm()">Yes</button>
            		</div>
                 	<div class="ml-2 mr-auto">
            			<button type="button" pButton class="btn btn-secondary" (click)="onReject()">No</button>
            		</div>
 
            	</div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="top-right" key="tc" [baseZIndex]="9999" class="custom-toast"></p-toast>