<div class="row">
	<div class="col-md-12 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">CLASSIFICATIONS</h4>
        <form class="forms-sample mt-5">
          <div class="form-group">
            <label for="inputClassificationCode">Code</label>
            <input type="text" class="form-control" id="inputClassificationCode" placeholder="Classification code">
          </div>
          <div class="form-group">
            <label for="inputClassificationName">Name</label>
            <input type="text" class="form-control" id="inputClassificationName" placeholder="Classification name">
          </div>
          <button type="submit" class="btn btn-gradient-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>	
</div>
