<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4" style="text-align: center;">COMPANIES</h4>
				<div class="row">
					<div class="col-lg-12 grid-margin">
						<form>
							<!-- <div class="d-flex justify-content-between"> -->
							<div class="form-group form-inline">
								Search: <input class="form-control ml-2" name="searchTerm" type="text"
									[(ngModel)]="service.searchTerm"/>
								<span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
								<div class="ml-auto btn-group" role="group">
									<button type="button" id="deletecompany" [ngStyle]="{'visibility': selectedDel.length == 0 ? 'hidden' : 'visible'}" class="mr-2 btn btn-gradient-danger btn-sm" (click)="showConfirm()">Delete</button>
								<button type="button" routerLink="../insert" id="insertcompany"
									class="btn btn-gradient-success btn-sm">Insert</button>	
								</div>
							</div>

							<!-- <div></div> -->
							<!-- </div> -->
						</form>
						<div class="table-responsive">
							<table class="table table-striped" style="text-align: center;">
								<thead>
									<tr>
										<th scope="col">No</th>
										<th scope="col">Name</th>
										<th scope="col">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let company of companies$ | async; index as i">
										<th scope="row">
											<p-checkbox name="checkbox" [value]="company" [(ngModel)]="selectedDel" ></p-checkbox>
											{{ (i + 1) + ((service.page -1) * service.pageSize) }}
										</th>
										<td>
											<ngb-highlight [result]="company.name" [term]="service.searchTerm">
											</ngb-highlight>
										</td>
										<td>
											<div class="btn-group" role="group" style="align-content: center;">
												<button type="button" routerLink="../update" [queryParams]="company"
													class="btn btn-outline-primary btn-sm">Update</button>
												<button type="button" (click)="showConfirm(company)"
													class="btn btn-outline-danger btn-sm">Delete</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="pagination" class="d-flex flex-wrap justify-content-between p-2">
							<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
								[pageSize]="service.pageSize">
							</ngb-pagination>

							<select class="custom-select" style="width: auto" name="pageSize"
								[(ngModel)]="service.pageSize">
								<option [ngValue]="5">5 items per page</option>
								<option [ngValue]="10">10 items per page</option>
								<option [ngValue]="15">15 items per page</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<p-toast position="top-center" key="sc" (onClose)="onReject()" [baseZIndex]="7000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column mr-auto" style="flex: 1">
            <div class="p-text-center" style="text-align: center;">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="col-12">
            	<div class="row">
            		<div class="ml-auto">
            			<button type="button" pButton class="btn btn-danger" (click)="onConfirm()">Yes</button>
            		</div>
                 	<div class="ml-2 mr-auto">
            			<button type="button" pButton class="btn btn-secondary" (click)="onReject()">No</button>
            		</div>
 
            	</div>
            	              
           <!--      <div class="col-6">
                    <button type="button" pButton label="Yes" class="btn btn-secondary"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton label="No" class="btn btn-danger"></button>
                </div> -->
            </div>
        </div>
    </ng-template>
</p-toast>