<div class="row">
	<div class="col-md-12 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">COMPANIES</h4>
        <form class="forms-sample mt-5">
          <div class="form-group">
            <label for="inputCompanyCode">Code</label>
            <input type="text" class="form-control" id="inputCompanyCode" placeholder="Company code">
          </div>
          <div class="form-group">
            <label for="inputCompanyName">Name</label>
            <input type="text" class="form-control" id="inputCompanyName" placeholder="Company name">
          </div>
          <div class="form-group">
            <label for="inputCompanyDescription">Address</label>
            <textarea class="form-control" rows="4" id="inputCompanyDescription"></textarea>
          </div>
          <button type="submit" class="btn btn-gradient-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>	
</div>
