<div class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../view">Companies</a></li>
      <li class="breadcrumb-item active" aria-current="page">Insert</li>
    </ol>
  </nav>
</div>
<div class="row">
	<div class="col-md-12 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">COMPANIES</h4>
        <form class="forms-sample mt-5">
          <div class="form-group">
            <label for="inputCompanyName">Name</label>
            <input type="text" name="name" [(ngModel)]="company.name" class="form-control" id="inputCompanyName" placeholder="Company name">
          </div>
          <button type="submit" (click)="insertCompanies()" class="btn btn-gradient-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>	
</div>
