<div class="page-header d-flex flex-wrap" style="margin-top: -20px;">
    <h3 class="page-title" style="padding-bottom: 15px;">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-email-outline"></i>
        </span>
        #777 Ini Judul Ticket
    </h3>
    <button type="button" class="btn btn-danger btn-fw justify-self-end">Close Ticket</button>
</div>
<div class="d-flex" style="margin-top: 0px;">
    <div class="pr-3" style="font-size: 12px; margin-top: -10px;">
        17 Agustus 11:45 AM
    </div>
    <div class="pr-3" style="font-size: 12px; margin-top: -14px;">
        <div ngbDropdown>
            Status:
            <button class="btn btn-info btn-sm" type="button" id="dropdownMenuSizeButton3" ngbDropdownToggle
                style="padding: 3px; font-size: 13px;">
                Open
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuSizeButton3">
                <a class="dropdown-item" style="font-size: small;">Open</a>
                <a class="dropdown-item" style="font-size: small;">Re-Open</a>
                <a class="dropdown-item" style="font-size: small;">Close</a>
            </div>
        </div>
    </div>
    <div class="" style="font-size: 12px; margin-top: -14px;">
        Priority: <label class="badge badge-gradient-warning">{{ticket.idPriority}}</label>
    </div>
</div>
<hr>
<div class="row pb-3">
    <div class="col-md-4 pt-3">
        <div class="text-muted pb-2" style="font-size: small;">
            Assigned To:
        </div>
        <a href="" class="pr-2">
            <img class="rounded-circle" src="assets/images/faces/avogadro.jpg" style="height: 30px;">
        </a>
        <p class="d-inline">{{ticket.idCustomer.name}}</p>
    </div>
    <div class="col-md-4 pt-3">
        <div class="text-muted pb-2" style="font-size: small;">
            Due Date:
        </div>
        <p>
            23 Agustus 11:45 AM
        </p>
    </div>
    <div class="col-md-4 pt-3">
        <div class="text-muted pb-2" style="font-size: small;">
            Product Name:
        </div>
        <p>
            Gojek Application
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-1">
                        <img class="rounded-circle" src="assets/images/faces/face1.jpg" style="height: 50px;">
                    </div>
                    <div class="col-md-11 mt-2">
                        <div class="row">
                            <div class="col-md-10">
                                <span class="card-title">Mamang Garox</span>
                                <div class="text-muted" style="font-size: small;">17 Agustus 11:45 AM (2 years ago)
                                </div>
                            </div>
                            <div class="col-md-2 text-right">
                                <h3 class="page-title">
                                    <a href="#">
                                        <span
                                            class="page-title-icon bg-gradient-primary text-white mr-2 btn-gradient-primary mb-2 page-title">
                                            <i class="mdi mdi-reply-all"></i>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pt-3">
                                <p>Hello</p>
                                <p>
                                    Welcome to Booting Desks new Unified Ticket Screen.
                                    Here, you have complete context of the ticket.
                                    Now that your had received your first ticket, did you notice that it has been
                                    assigned to you? To respond to this ticket smartly, check out the Auto-Suggested
                                    Solutions in the pane to your left.
                                </p>
                                <p>
                                    When you're done composing your response, you may send it and close the ticket.
                                </p>
                                <p>
                                    Whatever action you perform, be rest assured that you can always track them under
                                    the ticket's history. With that, you're one step close to delivering top-notch
                                    customer service!
                                </p>
                                <p>
                                    Cheers,<br>
                                    Batch6 Team <br>
                                    1 888 900 9646
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-1">
                        <img class="rounded-circle" src="assets/images/faces/Kekeyi.jpg" style="height: 50px;">
                    </div>
                    <div class="col-md-11 mt-2">
                        <div class="row">
                            <div class="col-md-10">
                                <span class="card-title">Kekeyi</span>
                                <div class="text-muted" style="font-size: small;">17 Agustus 2:45 PM
                                </div>
                            </div>
                            <div class="col-md-2 text-right">
                                <h3 class="page-title">
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pt-3">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Dolore ipsa ab maxime incidunt nostrum quidem atque ducimus minima totam! 
                                    Ut asperiores quos, nemo illo inventore ipsam nostrum earum est repellat?
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputName1">Description</label>
                    <!-- <quill-editor></quill-editor> -->
                    <quill-editor [(ngModel)]="editorContent" [ngModelOptions]="{standalone: true}">
                    </quill-editor>
                    <!-- <quill-editor [styles]="editorStyle" placeholder="Enter Text" [modules]="config"
                        formControlName="yourCtrlname" required>
                    </quill-editor> -->
                </div>
                <button type="button" class="btn btn-dark btn-fw justify-self-end">Post</button>
            </div>
        </div>
    </div>
</div>