<div class="page-header mb-5">
  <button type="button" routerLink="../list-ticket" class="mr-auto btn btn-gradient-success btn-sm">Back</button>
</div>
<div class="page-header d-flex flex-wrap" style="margin-top: -20px;">
    <h3 class="page-title" style="padding-bottom: 15px;">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-email-outline"></i>
        </span>
        #{{ticketHdr.idTicket.code}} {{ticketHdr.idTicket.subject}}
    </h3>
    <button type="button" (click)="updateStatus(ticketHdr.idTicket)" class="btn btn-danger btn-fw justify-self-end">{{labelCloseButton}}</button>
</div>
<div class="d-flex" style="margin-top: 0px;">
    <div class="pr-3" style="font-size: 12px; margin-top: -10px;">
        {{ticketHdr.idTicket.createdAt}}
    </div>
    <div class="" style="font-size: 12px; margin-top: -14px;">
        Status: <label class="badge badge-gradient-success">{{ticketHdr.idTicket.idStatus.name}}</label>
    </div>
    <div class="" style="font-size: 12px; margin-top: -14px;">
        Priority: <label class="badge badge-gradient-warning">{{ticketHdr.idTicket.idPriority.name}}</label>
    </div>
</div>
<hr>
<div class="row pb-3">
    <div class="col-md-4 pt-3">
        <div class="text-muted pb-2" style="font-size: small;">
            Assigned To:
        </div>
        <a href="" class="pr-2">
            <img class="rounded-circle" src="assets/images/faces/avogadro.jpg" style="height: 30px;">
        </a>
        <p class="d-inline">{{ticketHdr.idAgent.name}}</p>
    </div>
    <div class="col-md-4 pt-3 ml-auto">
        <div class="text-muted pb-2" style="font-size: small;">
            Product Name:
        </div>
        <p>
            {{ticketHdr.idTicket.idProduct.name}}
        </p>
    </div>
</div>

<!-- LEFT CHAT -->
<!-- <div class="row">
    <div class="col-md-10 grid-margin align-self-start">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-2" style="padding-left: 35px;">
                        <div class="row">
                            <div class="col-md-10">
                                <span class="card-title">Mamang Garox</span>
                                <div class="text-muted" style="font-size: small;">17 Agustus 11:45 AM (2 years ago)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 pt-3">
                                <p>Hello</p>
                                <p>
                                    Welcome to Booting Desks new Unified Ticket Screen.
                                    Here, you have complete context of the ticket.
                                    Now that your had received your first ticket, did you notice that it has been
                                    assigned to you? To respond to this ticket smartly, check out the Auto-Suggested
                                    Solutions in the pane to your left.
                                </p>
                                <p>
                                    When you're done composing your response, you may send it and close the ticket.
                                </p>
                                <p>
                                    Whatever action you perform, be rest assured that you can always track them under
                                    the ticket's history. With that, you're one step close to delivering top-notch
                                    customer service!
                                </p>
                                <p>
                                    Cheers,<br>
                                    Batch6 Team <br>
                                    1 888 900 9646
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- RIGHT CHAT -->
<!-- <div class="row">
    <div class="col-md-10 grid-margin ml-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-2" style="padding-left: 40px;">
                        <div class="row">
                            <div class="col-md-10">
                                <span class="card-title">{{account.idUser.name}}</span>
                                <div class="text-muted" style="font-size: small;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 pt-3">
                                <p>Hello</p>
                                <p>
                                    Welcome to Booting Desks new Unified Ticket Screen.
                                    Here, you have complete context of the ticket.
                                    Now that your had received your first ticket, did you notice that it has been
                                    assigned to you? To respond to this ticket smartly, check out the Auto-Suggested
                                    Solutions in the pane to your left.
                                </p>
                                <p>
                                    When you're done composing your response, you may send it and close the ticket.
                                </p>
                                <p>
                                    Whatever action you perform, be rest assured that you can always track them under
                                    the ticket's history. With that, you're one step close to delivering top-notch
                                    customer service!
                                </p>
                                <p>
                                    Cheers,<br>
                                    Batch6 Team <br>
                                    1 888 900 9646
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div> -->

<div class="row" *ngFor="let data of items | async">
    <div class="col-md-11 grid-margin stretch-card" [ngClass]="{'ml-auto': data.user.name == account.idUser.name}">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        <img class="rounded-circle" src="{{data.urlFoto}}" style="height: 50px; width: 50px;">
                    </div>
                    <div class="col-md-11 mt-2">
                        <div class="row">
                            <div class="col-md-10">
                                <span class="card-title" [innerHTML]="data.user.name"></span>
                                <div class="text-muted" style="font-size: small;" [innerHTML]="data.dateAndTime">
                                </div>
                            </div>
                            <div class="col-md-2 text-right">
                                <h3 class="page-title">
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pt-3">
                                <div [innerHTML]="data.contents"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pt-3" *ngFor="let img of data.urlFiles | keyvalue">
                                <img [src]="img.value" width="500" height="500">
                                <!-- <a href="img.value"></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" [ngStyle]="{'display': ticketHdr.idTicket.idStatus.name == 'Close' ? 'none' : 'flex'}">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="exampleInputName1">Description</label>
                        <quill-editor [(ngModel)]="itemValue" [ngModelOptions]="{standalone: true}">
                        </quill-editor>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-5 col-lg-10">
                            <button class="file-upload-browse btn btn-outline-primary" type="button"
                                (click)="fileInput.click()">Upload Image</button>
                            <input #fileInput style="display: none;" #attachments type="file"
                                (change)="onFileChanged($event)" multiple="true">
                            <!-- <input type="file" accept="image/*" class="form-control" formControlName="imageUrl" (change)="showPreview($event)"> -->
                            <li *ngFor="let selected of listOfFiles;let index = index" style="margin-top: 10px;">
                                {{selected}}
                                <button (click)="removeSelectedFile(index)">x</button>
                            </li>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-dark btn-fw justify-self-end">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>