<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row flex-lg-nowrap">

        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div *ngIf="account.idUser.idPhoto.id ==' '"
                                                class="d-flex justify-content-center align-items-center rounded"
                                                style="height: 140px; background-color: rgb(233, 236, 239);">
                                                <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;"></span>
                                            </div>
                                            <div *ngIf="account.idUser.idPhoto.id !=' '"
                                                class="d-flex justify-content-center align-items-center rounded">
                                                <img src="{{urlFoto}}" alt="image" *ngIf="!imageUrl" >
                                                <img [src]="imageUrl" *ngIf="imageUrl" height="100" width="200" alt="image">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{account.idUser.name}}</h4>
                                            <p class="mb-0">{{this.account.idUser.idRole.name}}</p>
                                            <div class="mt-2">
                                                <button (click)="fileInput.click()" class="btn btn-primary"
                                                    type="button">
                                                    <i class="fa fa-fw fa-camera"></i>
                                                    <span>Change Photo</span>
                                                </button>
                                                <span style="color:red;" *ngIf="message">{{message}}</span>
                                                <input #fileInput #file  style="display: none;" #attachments type="file"
                                                    accept='image/*' (change)="onFileChanged($event)">
                                            </div>
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <span
                                                class="badge badge-secondary">{{this.account.idUser.idRole.name}}</span>
                                            <div class="text-muted"><small></small></div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" novalidate="">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Full Name</label>
                                                                <input class="form-control" type="text" name="name"
                                                                    placeholder="{{account.idUser.name}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Company</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="{{account.idUser.idCompany.name}}"
                                                                    disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Role</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="{{account.idUser.idRole.name}}"
                                                                    disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Address</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="{{account.idUser.address}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Contact</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="{{account.idUser.contact}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button (click)="saveChanges()" class="btn btn-primary" type="submit">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>