<div class="col-sm-12"
    style="margin: 0 !important; padding: 0 !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%; margin: 0; padding: 0; width: 100%; font-weight: 400; color: rgb(79, 79, 101); -webkit-font-smoothing: antialiased; -ms-text-size-adjust: 100%; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility;">
    <!-- HIDDEN PREHEADER TEXT -->
    <div class="preheader"
        style="display: none; font-size: 1px; color: rgb(255, 255, 255); line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class=" mainTable  "
        style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; background-color: rgb(240, 240, 240);">
        <!-- HEADER -->
        <tr>
            <td align="center" class="header"
                style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="Content"
                    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; width: 580px; margin: 0 auto;">
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle"
                            style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell; padding-left: 10px;">
                            <a routerLink="/user-pages/login"
                                style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
                                <img src="https://cdn.discordapp.com/attachments/743009938221170688/743413450784636998/unknown.png"
                                    width="110" height="45" alt="Tock" border="0" class="header-tockLogoImage"
                                    style="-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; display: block; color: rgb(240, 240, 240);" />
                            </a> </td>
                    </tr>
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- CONTENT -->
        <tr>
            <td align="center"
                style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="Content bg-white"
                    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; background-color: white; width: 580px; margin: 0 auto;">
                    <tr>
                        <td class="Content-container Content-container--main text textColorNormal"
                            style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell; font-weight: 400; font-size: 16px; line-height: 21px; color: rgb(79, 79, 101); padding-left: 60px; padding-right: 60px; padding-top: 54px; padding-bottom: 60px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse;">
                                <tr>
                                    <td valign="top" align="left"
                                        style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                            style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse;">
                                            <tr>
                                                <td align="left"
                                                    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                                                    <span class="h1 textColorDark"
                                                        style="font-weight: 700; vertical-align: middle; font-size: 36px; line-height: 42px; color: rgb(35, 35, 62);">Your
                                                        Account Was Arrived</span>
                                                </td>
                                            </tr>
                                            <tr class="spacer">
                                                <td height="18px" colspan="2"
                                                    style="font-size: 18px; line-height:18px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="left" colspan="2" valign="top" width="100%" height="1"
                                                    class="hr"
                                                    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell; background-color: rgb(211, 211, 216); border-collapse: collapse; line-height: 1px;">
                                                </td>
                                            </tr>
                                            <tr class="spacer">
                                                <td height="18px" colspan="2"
                                                    style="font-size: 18px; line-height:18px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                                                    &nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left"
                                        style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                            style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse;">
                                            <tr>
                                                <td align="left" class="text textColorNormal"
                                                    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell; font-weight: 400; font-size: 16px; line-height: 21px; color: rgb(79, 79, 101);">
                                                    Haloo (...)
                                                    <br>
                                                    Akun anda telah dapat digunakan:
                                                    <br><br>
                                                    <p>
                                                        <b>
                                                            Username: asdsadsa
                                                            <br>
                                                            Password: asdasdas
                                                        </b>
                                                    </p>
                                                    Silahkan login untuk mengubah password anda.
                                                </td>
                                            </tr>
                                            <tr class="spacer">
                                                <td height="12px" colspan="2"
                                                    style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                                                    &nbsp;</td>
                                            </tr>
                                            <tr class="spacer">
                                                <td height="12px" colspan="2"
                                                    style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="align-items-center"
                                                    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                                                    <table>
                                                        <div class="template-demo">
                                                            <button routerLink="/user-pages/login" type="button"
                                                                class="btn btn-gradient-primary">Login</button>
                                                        </div>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- FOOTER -->
        <tr>
            <td align="center" class="Content"
                style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell; width: 580px; margin: 0 auto;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="Content-container"
                    style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; padding-left: 60px; padding-right: 60px;">
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"
                            style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            <a routerLink="/user-pages/login"
                                style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;"> <img
                                    src="https://cdn.discordapp.com/attachments/743009938221170688/745555202949644308/android-icon-72x72.png"
                                    width="30" height="30" alt="Tock" border="0"
                                    style="-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block;" />
                            </a> </td>
                    </tr>
                    <tr class="spacer">
                        <td height="18px" colspan="2"
                            style="font-size: 18px; line-height:18px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center"
                            style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            <div class="text-xsmall textColorNormal"
                                style="font-size: 11px; text-transform: uppercase; line-height: 22px; letter-spacing: 1px; color: rgb(79, 79, 101);">
                                © 2019 Booting, Batch6.
                            </div>
                            <div class="text-xsmall textColorNormal"
                                style="font-size: 11px; text-transform: uppercase; line-height: 22px; letter-spacing: 1px; color: rgb(79, 79, 101);">
                                Linov Support
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                    <tr class="spacer">
                        <td height="12px" colspan="2"
                            style="font-size: 12px; line-height:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; border-collapse: collapse; display: table-cell;">
                            &nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>