<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">CLIENT PRODUCTS</h4>
            <form class="forms-sample mt-5">
              <div class="form-group">
                <label for="inputIDCompany">ID Company</label>
                <select id="inputIDCompany" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputIDProduct">ID Product</label>
                <select id="inputIDProduct" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group">
                <label for="totalUrgent">Total Urgent</label>
                <input type="text" class="form-control" id="totalUrgent" placeholder="insert value..">
              </div>
              <div class="form-group">
                <label for="totalMedium">Total Medium</label>
                <input type="text" class="form-control" id="totalMedium" placeholder="insert value..">
              </div>
              <button type="submit" class="btn btn-gradient-primary mt-3">Submit</button>
            </form>
          </div>
        </div>
    </div>
</div>
<p-toast [baseZIndex]="100" class="custom-toast" key="tc"></p-toast>
