<div class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../view">Accounts</a></li>
      <li class="breadcrumb-item active" aria-current="page">Update</li>
    </ol>
  </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">ACCOUNTS</h4>
            <form class="forms-sample mt-5">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="text" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="inputIDUsers">ID Users</label>
                <select id="inputIDUsers" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <button type="submit" class="btn btn-gradient-primary mt-3">Update</button>
              <!-- <button class="btn btn-light">Cancel</button> -->
            </form>
          </div>
        </div>
      </div>
</div>
