<div class="page-header">
  <!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../view">Priorities</a></li>
      <li class="breadcrumb-item active" aria-current="page">Insert</li>
    </ol>
  </nav> -->
  <button type="button" routerLink="../view" class="mr-auto btn btn-gradient-success btn-sm">Back</button>
</div>
<div class="row">
	<div class="col-md-12 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">PRIORITIES</h4>
        <form class="forms-sample mt-5">
          <div class="form-group">
            <label for="inputPriorityCode">Code</label>
            <span style="color: red;"> *</span>
            <input type="text" name="code" (ngModelChange)="validasi = 0" [(ngModel)]="priorities.code" class="form-control" id="inputPriorityCode" placeholder="Priority code">
            <p style="color: red;" *ngIf="validasi == 1">Priorities code is required</p>
          </div>
          <div class="form-group">
            <label for="inputPriorityName">Name</label>
            <input type="text" name="name" [(ngModel)]="priorities.name" class="form-control" id="inputPriorityName" placeholder="Priority name">
          </div>
          <button type="submit" (click)="insertPriorities()" class="btn btn-gradient-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>	
</div>
<p-toast [baseZIndex]="100" class="custom-toast" key="tc"></p-toast>
