<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/"><img src="https://cdn.discordapp.com/attachments/743009938221170688/743413450784636998/unknown.png" alt="logo" style="height: 40px; width: 125px;"/></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="https://cdn.discordapp.com/attachments/743009938221170688/745555202949644308/android-icon-72x72.png" alt="logo" style="height: 25px; width: 25px;"/></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>
          <div *ngIf="account.idUser.idPhoto.id !=' '" class="nav-profile-img">
            <img src="{{urlFoto}}" alt="image">
            <span class="availability-status online"></span>
          </div>
          <div *ngIf="account.idUser.idPhoto.id ==' '" class="nav-profile-img" style=" background-color: rgb(233, 236, 239); border-radius: 50%;">
            <span class="availability-status online"></span>
          </div>
          
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{account.idUser.name}}</p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="javascript:;" routerLink="user-pages/edit-profile">
            <i class="mdi mdi-cached mr-2 text-success"></i>
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:;" (click)="logout()">
            <i class="mdi mdi-logout mr-2 text-primary"></i>
            Signout
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>