<div class="col-md-6 grid-margin stretch-card mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center;">Insert Customer</h4>
            <form class="forms-sample mt-5">
                <div class="form-group">
                    <label for="inputClassificationCode">Name</label>
                    <input type="text" class="form-control" id="inputClassificationCode"
                        placeholder="Insert Full Name">
                </div>
                <div class="form-group">
                    <label for="inputClassificationCode">Contanct</label>
                    <input type="text" class="form-control" id="inputClassificationCode"
                        placeholder="Contact">
                </div>
                <div class="form-group">
                    <label for="inputClassificationCode">E-mail</label>
                    <input type="text" class="form-control" id="inputClassificationCode"
                        placeholder="asdsadsada@asdsa.com">
                </div>
                <div class="form-group">
                    <label for="inputClassificationCode">Username</label>
                    <input type="text" class="form-control" id="inputClassificationCode"
                        placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="inputClassificationName">Password</label>
                    <input type="text" class="form-control" id="inputClassificationName"
                        placeholder="Password">
                </div>
                <button type="submit" class="btn btn-gradient-primary mt-3">Submit</button>
                <!-- <button class="btn btn-light">Cancel</button> -->
            </form>
        </div>
    </div>
</div>