<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Insert Customer</h4>
                <form class="forms-sample mt-5">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="inputClassificationCode">Name</label>
                                    <input type="text" class="form-control" id="inputClassificationCode"
                                        placeholder="Insert Full Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="inputClassificationCode">Contanct</label>
                                    <input type="text" class="form-control" id="inputClassificationCode"
                                        placeholder="Contact">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="inputClassificationCode">Username</label>
                        <input type="text" class="form-control" id="inputClassificationCode" placeholder="Username">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="inputClassificationName">Password</label>
                        <input type="text" class="form-control" id="inputClassificationName" placeholder="Password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputClassificationCode">E-mail</label>
                        <input type="text" class="form-control" id="inputClassificationCode"
                            placeholder="asdsadsada@asdsa.com">
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>