<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Insert Customer</h4>
                <div class="forms-sample mt-5">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" [(ngModel)]="account.idUser.name"
                                        placeholder="Insert Full Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="contact">Contanct</label>
                                    <input type="text" class="form-control" id="contact"
                                        [(ngModel)]="account.idUser.contact" placeholder="Contact">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="nip">NIP</label>
                                    <input type="text" class="form-control" id="nip" placeholder="NIP"
                                        [(ngModel)]="account.idUser.nip">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" placeholder="Address"
                                        [(ngModel)]="account.idUser.address">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group" [class.has-error]="password.touched && password.invalid">
                                    <label for="password">Password</label>
                                    <input name="password" required type="password" class="form-control" id="pass"
                                        placeholder="Password" [(ngModel)]="account.pass" #password="ngModel">
                                        <span class="help-block" *ngIf="password.touched && password.errors?.required" style="color: red; font-size: 12px;">
                                            Password is required
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-row">
                                <div class="form-group"
                                    [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input name="confirmPassword" appConfirmEqualValidator="password" required type="password" class="form-control" id="confirmPassword"
                                        placeholder="Re-enter your password" [(ngModel)]="cPass" #confirmPassword="ngModel">
                                        <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required" style="color: red; font-size: 12px;">
                                            Confirm password is required
                                        </span>
                                        <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required" style="color: red; font-size: 12px;">
                                            Password and Confirm password doesn't match
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group-row">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="text" class="form-control" id="email" placeholder="E-mail"
                                        [(ngModel)]="account.email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mt-3" (click)="submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast [baseZIndex]="100" class="custom-toast" key="tc"></p-toast>
