<div class="page-header">
  <button type="button" routerLink="../view" class="mr-auto btn btn-gradient-success btn-sm">Back</button>
</div>
<div class="row">
	<div class="col-md-12 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">COMPANIES</h4>
        <form class="forms-sample mt-5">
          <div class="form-group">
            <label for="inputCompanyName">Name</label>
            <span style="color: red;"> *</span>
            <input type="text" name="name" (ngModelChange)="validasi = 0" [(ngModel)]="company.name" class="form-control" id="inputCompanyName" placeholder="Company name">
            <p *ngIf="validasi == 1" style="color: red;">Company name is required</p>
          </div>
          <button type="submit" (click)="updateCompany()" class="btn btn-gradient-primary mt-3">Update</button>
        </form>
      </div>
    </div>
  </div>	
</div>
<p-toast position="top-right" key="tc" [baseZIndex]="9999" class="custom-toast"></p-toast>
