<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div *ngIf="account.idUser.idPhoto.id !=' '" class="nav-profile-image">
          <img [src]="urlFoto" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div *ngIf="account.idUser.idPhoto.id ==' '" class="nav-profile-image " style="width: 44px; height: 35px; border-radius: 50%; background-color: rgb(233, 236, 239);">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">{{account.idUser.name}}</span>
          <span class="text-secondary text-small">{{account.idUser.idRole.name}}</span>
        </div>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <!-- <li class="nav-item" [ngClass]="{'active' : products.isActive || accordions.isActive || buttons.isActive || badges.isActive || breadcrumbs.isActive || dropdowns.isActive || modals.isActive || notifications.isActive || progressbar.isActive || pagination.isActive || tabs.isActive || typography.isActive || tooltips.isActive }"> -->
    <li *ngIf="role == 'ADM' || role == 'SPA'" class="nav-item" [ngClass]="{'active' : products.isActive || users.isActive || classifications.isActive || priorities.isActive || statusmaster.isActive || companies.isActive ||  roles.isActive || agentrelations.isActive || clientproducts.isActive }">  
      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Admin Table Master</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="admin/products/view" routerLinkActive="active" #products="routerLinkActive">Products</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="admin/classifications/view" routerLinkActive="active" #classifications="routerLinkActive">Classifications</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="admin/priorities/view" routerLinkActive="active" #priorities="routerLinkActive">Priorities</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="admin/status/view" routerLinkActive="active" #statusmaster="routerLinkActive">Status</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="admin/companies/view" routerLinkActive="active" #companies="routerLinkActive">Companies</a></li>
          <!-- <li class="nav-item"><a class="nav-link" routerLink="admin/accounts/view" routerLinkActive="active" #accounts="routerLinkActive">Accounts</a></li> -->
          <li class="nav-item"><a class="nav-link" routerLink="admin/roles/view" routerLinkActive="active" #roles="routerLinkActive">Roles</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="admin/users/view" routerLinkActive="active" #users="routerLinkActive">Users</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="admin/agent-relations/view" routerLinkActive="active" #agentrelations="routerLinkActive">Agent Relations</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="admin/client-products/view" routerLinkActive="active" #clientproducts="routerLinkActive">Client Products</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="admin/client-account/view" routerLinkActive="active" #clientproducts="routerLinkActive">Client Account</a></li>
        </ul>
      </div>
    </li>
    <li *ngIf="role == 'ADM' || role == 'SPA'" class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <a class="nav-link" routerLink="admin/list-agents" routerLinkActive #forms="routerLinkActive">
        <span class="menu-title">List Agents</span>
        <i class="mdi mdi-ticket-confirmation menu-icon"></i>
      </a>
    </li>
    <li *ngIf="role == 'CLI' || role == 'CTM' || role == 'SPA'" class="nav-item" [ngClass]="{'active' : insertticket.isActive }">  
      <a class="nav-link" (click)="uiBasicCollapsed2 = !uiBasicCollapsed2" [attr.aria-expanded]="uiBasicCollapsed2" aria-controls="ui-basic">
        <span class="menu-title">Client Table Master</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed2">
        <ul class="nav flex-column sub-menu">
          <li *ngIf="role == 'CLI' || role == 'SPA'" class="nav-item"><a class="nav-link" routerLink="client/insert-customer" routerLinkActive="active" #customer="routerLinkActive">Insert Customer</a></li>
          <li *ngIf="role == 'CLI' || role == 'SPA'" class="nav-item"><a class="nav-link" routerLink="client/view-customer" routerLinkActive="active" #customer="routerLinkActive">View Customer</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="client/insert-ticket" routerLinkActive="active" #insertticket="routerLinkActive">Insert Ticket</a></li>
          <!-- <li class="nav-item"><a class="nav-link" routerLink="client/dtl-ticket" routerLinkActive="active" #dtlticket="routerLinkActive">Detail Ticket</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" routerLink="client/email-registrasi" routerLinkActive="active" #emailregistrasi="routerLinkActive">Email Registrasi</a></li> -->
        </ul>
      </div>
    </li>
    <!-- <li class="nav-item" [ngClass]="{'active' : login.isActive || registrasi.isActive }">  
      <a class="nav-link" (click)="uiBasicCollapsed3 = !uiBasicCollapsed3" [attr.aria-expanded]="uiBasicCollapsed3" aria-controls="ui-basic">
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed3">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="user-pages/login" routerLinkActive="active" #login="routerLinkActive">Login</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="user-pages/register" routerLinkActive="active" #registrasi="routerLinkActive">Registrasi</a></li>
        </ul>
      </div>
    </li> -->
    <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <a class="nav-link" routerLink="client/list-ticket" routerLinkActive #forms="routerLinkActive">
        <span class="menu-title">View Tickets</span>
        <i class="mdi mdi-ticket-confirmation menu-icon"></i>
      </a>
    </li>
    <!-- <li *ngIf="role == 'ADM' || role == 'SPA'" class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <button (click)=downloadReport()>Download Report</button>
    </li> -->
  </ul>
</nav>
