<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center;">STATUS</h4>
          <form class="forms-sample mt-5">
            <div class="form-group">
              <label for="inputStatusCode">Code</label>
              <input type="text" class="form-control" id="inputStatusCode" placeholder="Status code">
            </div>
            <div class="form-group">
              <label for="inputStatusName">Name</label>
              <input type="text" class="form-control" id="inputStatusName" placeholder="Status name">
            </div>
            <button type="submit" class="btn btn-gradient-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>