<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">ACCOUNTS</h4>
            <form class="forms-sample mt-5">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="text" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="inputIDUsers">ID Users</label>
                <select id="inputIDUsers" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <button type="submit" class="btn btn-gradient-primary mt-3">Submit</button>
              <!-- <button class="btn btn-light">Cancel</button> -->
            </form>
          </div>
        </div>
      </div>
</div>
