<div class="page-header">
  <button type="button" routerLink="../view" class="mr-auto btn btn-gradient-success btn-sm">Back</button>
</div>
<div class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../view">Users</a></li>
      <li class="breadcrumb-item active" aria-current="page">Update</li>
    </ol>
  </nav>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">USERS</h4>
            <form class="forms-sample mt-5">
              <div class="form-group">
                <label for="inputNIP">NIP</label>
                <input type="text" name="nip" [(ngModel)]="user.nip" class="form-control" id="inputNIP" placeholder="NIP">
              </div>
              <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" name="name" [(ngModel)]="user.name" class="form-control" id="inputName" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="inputIDCompanies">ID Companies</label>
                <select id="inputIDCompanies" class="form-control" name="idCompany" [(ngModel)]="user.idCompany">
                  <option [ngValue]="null">Choose...</option>
                  <option *ngFor="let company of companies" [selected]="company.name === user.idCompany.name" [ngValue]="company">{{company.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputIDRoles">ID Roles</label>
                <select id="inputIDRoles" class="form-control" name="idRole" [(ngModel)]="user.idRole" >
                  <option *ngFor="let role of roles" [selected]="role.name === 'user.idRole.name'" [ngValue]="role">{{role.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputContact">Contact</label>
                <input type="text" name="contact" [(ngModel)]="user.contact" class="form-control" id="inputContact" placeholder="Contact">
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <textarea type="text" name="address" [(ngModel)]="user.address" class="form-control" rows="4" id="inputAddress"></textarea> 
              </div>
              <button type="submit" (click)="updateUser()" class="btn btn-gradient-primary mt-3">Update</button>
              <!-- <button class="btn btn-light">Cancel</button> -->
            </form>
          </div>
        </div>
      </div>    
</div>

<p-toast position="top-right" key="tc" [baseZIndex]="9999" class="custom-toast"></p-toast>