<div class="page-header">
  <button type="button" routerLink="../view" class="mr-auto btn btn-gradient-success btn-sm">Back</button>
</div>
<div class="row">
	<div class="col-md-12 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">ROLES</h4>
        <form class="forms-sample mt-5">
          <div class="form-group">
            <label for="inputCompanyName">Code</label>
            <span style="color: red;"> *</span>
            <input type="text" name="code" (ngModelChange)="validasi = 0" [(ngModel)]="role.code" class="form-control" id="inputRoleCode" placeholder="Role code">
            <p *ngIf="validasi == 1" style="color: red;">Role code is required</p>
          </div>
          <div class="form-group">
            <label for="inputCompanyName">Name</label>
            <input type="text" name="name" [(ngModel)]="role.name" class="form-control" id="inputRoleName" placeholder="Role name">
          </div>
          <button type="submit" (click)="updateRole()" class="btn btn-gradient-primary mt-3">Update</button>
        </form>
      </div>
    </div>
  </div>	
</div>
<p-toast [baseZIndex]="100" class="custom-toast" key="tc"></p-toast>
